/* CUSTOM STYLING FOR MusicView */

/* Foundation Level Stylings:

/* TYPEFACE FOR HEADINGS, BUTTONS, ALERTS */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,600i,700,700i&subset=latin-ext');

/* TYPEFACE FOR BODY TEXT */

@import url('https://fonts.googleapis.com/css?family=Spectral:400,600,600i,700,700i&subset=latin-ext');

body {
    width: 98%;
    margin: 0 auto 0 auto;
    font-family: 'Spectral', 'Times', serif;
    font-size: 16px;
    line-height: 22.4px;
}

header {
    width: 98%;
    position: fixed;
    z-index: 99;
}

main {
    margin-top: 340px;
}

.well {
    background-color: #808000;  /* Olive */
    opacity: 1;
}

.well h1,
.well h2 {
    color: #ffffff;
}

.well h2   {
    margin-bottom: 6px;
}

.well h2 small {
    color: #333333;
}

h1, h2, h3,
h4, h5, h6  {
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    margin-bottom: 0;
}

h2 {
    margin-top: 3px;   
}

label {
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/* Special Header Styling */

header div#vidSearchBox {
    border: 1.5px dotted #ffffff;
    border-radius: 12px;
    padding: 15px 12px;
    margin-top: 12px;
}

header #videoSearch {
    margin-left: 12px;
    width: 125px;
    background-color: rgb(0, 77, 0);
    border-radius: 10px;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-variant: small-caps;
}

header #videoSearch:hover {
    transition: background-color 2s, color 1s;
    background-color: #ffffff;
    color: rgb(0, 77, 0);
}

header select {
    margin-right: 15px;
}

label[for='searchString']   {
    margin-right: 6px;
}

select#genres {
    background-color: rgb(255, 255, 204);
}

input#userQuery {
    width: 300px;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: rgb(255, 255, 204);
    padding: 6px 12px;
}

#instructions {
    width: 78%;
    margin-top: 25px;
    border-left: 1.5px solid #c0c0c0;
    border-right: 1.5px solid #c0c0c0;
    padding: 0 12px 0 20px;
    color: #ffffff;
}

#instructions p {
    font-size: 18px;
    line-height: 25px;
}

#logo {
    padding-top: 45px;
}

/* Special Search Results Styling */

#searchResults  {
    width: 100%;
    padding-left: 45px;
}

#searchResults #searchHead  {
    margin-top: -30px;
    position: relative;
    z-index: -99;
}

#searchResults div {
    float: left;
    margin-right: 6px;
}

#content {
    border: 1px dotted #333333;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 25px;
}

#loadMsg {
    width: 200px;
    border: inset 3px #888888;
    border-radius: 8px;
    background-color: rgb(255, 255, 204);
    position: fixed;
    top: 450px;
    left: 615px;
}

#loadMsg p {
    margin-top: 6px;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 26, 26);    /* Red 45% */
}

#searchHead {
    margin-bottom: 12px;
    padding-left: 45px;
    display: none;
}

#license {
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

#attribution {
    margin-top: 55px;
}
